*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/files/*
!/files/index.html
/files/excel/*
!/files/excel/index.html
/files/xml/*
!/files/xml/index.html
nbproject