*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

files/excel/*
files/xml/*
files/*.*
!files/index.html
!files/excel/index.html
!files/xml/index.html


nbproject